.button {
  margin: 10px;
  background-color: blue;
  color: white;
  font-size: smaller;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button:hover {
  background-color: aliceblue;
  color: blue;
}
